extends layout

block content

  #carouselExampleControls.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='img/library_image.jpg' alt='First slide')
      |     
      .carousel-item
        img.d-block.w-100(src='img/library_image.jpg' alt='Second slide')
      |     
      .carousel-item
        img.d-block.w-100(src='img/library_image.jpg' alt='Third slide')
      |   
    a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      |     
      span.sr-only Previous
      |   
    a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      |     
      span.sr-only Next

  .container-fluid
    .row.content-summary
      .text-uppercase.col-lg-6.col-md-6.first-content
        h1 Our Library inspired for you
      .text-uppercase.col-lg-6.col-md-6.second-content
        h1 Choose a genre &amp; learn more
      p
        | You will change the world is inspired directly from the wisdom and knowledge passed down in book from those who have experienced life and opportunity first hand. perhaps you would ask &quot;why&quot; a Library.We&apos;ll reading sets the mind free like nothing else.it drives into our minds those things we &quot;CHOOSE&quot; tobe importan.it can never be replaced as what reading offers is completely unique to the human species.I invite you to browse the books and pamphlets,articles and testimonial we are curiating for your grouth and enjoyment .Browse the latest,but the onces that move you, &#x9;download the onces chosen to share. if you know people who struggle reading or student looking forward to learning the power of reading  share our  
        a.content-summary(href="/articles"): span.free_learning FREE LEARING TO READ COURSES coming soon.

  .theme-middle-background.row.plr-9
    .col-sm-3.col-md-3.genre-menu-section
      form(id="booksFilter" method="post" action="books")
        .list-section
          ul
          h2 Genre
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Business") Business
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Personal Development") Personal Development
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Health") Health
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Fitness") Fitness
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Relationship") Relationship
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Energy Healing") Energy Healing
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Education") Education
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Foundations") Foundations
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Fiction") Fiction
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Biography") Biography
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Social Media") Social Media
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Copy Writing") Copy Writing
            li: a(href='/books' style="text-decoration:none; color:black;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Writing") Writing
            li: a(href='/books' style="text-decoration:none; color:black,;margin-left:-12%") 
              button.btn(id='Genre' name='Genre' onclick="document.getElementById('booksFilter').submit();" value="Advertising") Advertising
    .col-xs-9.col-md-9.col-sm-9.slider-section
      .row
        .col-sm-12
          h2.one
            span #{selectedGenre}
              |  
        .container.text-center.my-3
          #recipeCarousel.carousel.slide.w-100(data-ride='carousel')
            .carousel-inner.w-100(role='listbox')
              each column,index in books
                if index === 0
                  .carousel-item.row.no-gutters.active
                    each book in column
                      .col-3.float-left
                        .course-book: a(href=book.get('link'), target='_blank'): .thumbnail
                          img.img-fluid.img_res(src=book.get('cover'))
                else 
                  .carousel-item.row.no-gutters
                    each book in column
                      .col-3.float-left
                        .course-book: a(href=book.get('link'), target='_blank'): .thumbnail
                          img.img-fluid.img_res(src=book.get('cover'))
            a.carousel-control-prev(href='#recipeCarousel' role='button' data-slide='prev')
              span.carousel-control-prev-icon.carousel-control-next-iconp(aria-hidden='true')
              |             
              span.sr-only Previous
            |         
            a.carousel-control-next(href='#recipeCarousel' role='button' data-slide='next')
              span.carousel-control-next-icon.carousel-control-next-iconn(aria-hidden='true')
              |             
              span.sr-only Next

              .row
        if(personalDevelopmentBooks != undefined)
          .col-sm-12.secondslider
            h2.one
              span Personal  Development
                |  
          .container.text-center.my-3
            #recipeCarousel1.carousel.slide.w-100(data-ride='carousel')
              .carousel-inner.w-100(role='listbox')
                each column,index in personalDevelopmentBooks
                  if index === 0
                    .carousel-item.row.no-gutters.active
                      each book in column
                        .col-3.float-left
                          .course-book: a(href=book.get('link'), target='_blank'): .thumbnail
                            img.img-fluid.img_res(src=book.get('cover'))
                  else 
                    .carousel-item.row.no-gutters
                      each book in column
                        .col-3.float-left
                          .course-book: a(href=book.get('link'), target='_blank'): .thumbnail
                            img.img-fluid.img_res(src=book.get('cover'))       
              a.carousel-control-prev(href='#recipeCarousel1' role='button' data-slide='prev')
                span.carousel-control-prev-icon.carousel-control-next-iconp(aria-hidden='true')
                |             
                span.sr-only Previous
              |         
              a.carousel-control-next(href='#recipeCarousel1' role='button' data-slide='next')
                span.carousel-control-next-icon.carousel-control-next-iconn(aria-hidden='true')
                |             
                span.sr-only Next


