meta(property="og:type", content=meta.og.type)
meta(property="og:url", content=meta.og.url)
meta(property="og:title", content=meta.og.title)
meta(property="og:description", content=meta.og.description)
meta(property="og:site_name", content=meta.og.siteName)
meta(property="og:image", content=meta.og.image)
meta(property="fb:app_id", content=meta.og.appId)
meta(property="og:locale", content=meta.og.locale)
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=meta.og.title)
meta(name="twitter:description" content=meta.og.description)
meta(name="twitter:url" content=meta.og.url)
meta(name="twitter:image" content=meta.og.image)
