extends layout

block content
  .row: .col-xs-12
    .dashhead
      .dashhead-titles
        h6.dashhead-subtitle Dashboards
        h3.dashhead-title Vouchers Codes

  .row: .col-xs-12   
  .pc-tab
  section
  //PHASE ONE
  .row: .col-xs-12.title-heading
    h1.text-center Create Voucher Codes
    .tab2
      #second-tab.row
        .col-lg-4.pad-none
          .form-group
            label(for='email') Select Course Name
            select#cars(name='cars')
              option(value='1') 1
              option(value='1') 2
              option(value='1') 3
              option(value='1') 4
        .col-lg-3
          .form-group
            label(for='email') No of Coupon
            input#fname(type='text', name='fname')
        .col-lg-2
          .form-group
            label(for='email') Coupan Validity
            select#cars(name='cars')
              option(value='1') 1
              option(value='1') 2
              option(value='1') 3
              option(value='1') 4
        .col-lg-2
          button.btn.btn-default.custom-coupan-btn(type='submit') Generate Codes
      #table-custom.row
        table.table.custom-table-striped
          thead
            tr
              th Cource Name
              th No of Voucher code
              th Created Date
              th Valid Til
              th Created By
              th
              th
            
          tbody
            tr
              td Social media explosion
              td 1000
              td 10 August 2020
              td 11 August 2020
              td Admin
              td._text-color View
              td._text-color Download CSV
            tr
              td Social media explosion
              td 1000
              td 10 August 2020
              td 11 August 2020
              td Admin
              td._text-color View
              td._text-color Download CSV
            tr
              td Social media explosion
              td 1000
              td 10 August 2020
              td 11 August 2020
              td Admin
              td._text-color View
              td._text-color Download CSV
            tr
              td Social media explosion
              td 1000
              td 10 August 2020
              td 11 August 2020
              td Admin
              td._text-color View
              td._text-color Download CSV
            tr
              td Social media explosion
              td 1000
              td 10 August 2020
              td 11 August 2020
              td Admin
              td._text-color View
              td._text-color Download CSV
            tr
              td Social media explosion
              td 1000
              td 10 August 2020
              td 11 August 2020
              td Admin
              td._text-color View
              td._text-color Download CSV
   .pagination-customs
        a(href='#') «
        a(href='#') 1
        a.active(href='#') 2
        a(href='#') 3
        a(href='#') 4
        a(href='#') 5
        a(href='#') 6
        a(href='#') »

       //PHASE TWO
    .row: .col-xs-12.title-heading
    h1.text-center Voucher


    .container
  #social-media-explosion.row
    .col-lg-6.title-back
      h4
        span
          i.fa.fa-arrow-left(aria-hidden='true')
        | Social Media Explosion
    .col-lg-6.csv-download.pull-right
      button.btn.btn-default(type='button') Download CSV
  #total-codes-available.row
    .col-lg-2
      p Total Codes :5000
    .col-lg-2
      p Total Reedemed :5000
    .col-lg-2
      p Total Available :5000
  

  #table-custom2.row
        table.table.custom-table-striped
          thead
            tr
              th Voucher Code
              th Linked Course
              th Created Date
              th Expiration Date
              th Created By
              th Status
              th Reedem by Name
              th Email Id
              th Zip Code
              th Phone No
            
          tbody
            tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td.color_red Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX
            tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td.color_red Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX
            tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td.color_red Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX
            tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td.color_red Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX
              
            tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX
              
            tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX
            tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX
            tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX
           tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX

            tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX

             tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX

             tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX
             tr
              td GRPONSCMED1
              td Social Media Explosion
              td 10 August 2020
              td 11 August 2020
              td Admin
              td Reedemed
              td John Dee
              td.mail-color john@gmail.com
              td 99524
              td 9756XXXXXXX
              
   .pagination-customs
        a(href='#') «
        a(href='#') 1
        a.active(href='#') 2
        a(href='#') 3
        a(href='#') 4
        a(href='#') 5
        a(href='#') 6
        a(href='#') »




  .row: .col-xs-12
    .dashhead
      .dashhead-titles
        h6.dashhead-subtitle Dashboards
        h3.dashhead-title Partner Codes

  .row: .col-xs-12
    h1.text-center Add Partner Code

  .row
    // TODO: put in error text

  form(id="formParnerCode",method="post",action="")

    .row: .col-xs-12
      .hr-divider.m-b
        h3.hr-divider-content.hr-divider-heading Create Partner Code
    .row
      .col-xs-12.col-sm-6
        .form-group
          label Enter Code
          input(type="text", name="code", id="code", value=values.code || '', required).form-control
      .col-xs-12.col-sm-6
        .form-group
          label Name
          input(type="text", name="name", id="name", value=values.name || '', required).form-control
    .row
      .col-xs-12.col-sm-6
        &nbsp;
      .col-xs-12.col-sm-3
        .form-group
          label AmountType
          br
          label.radio-inline
            input(type='radio', name='amountType', value='true', id='amountPrice', required)
            |  Amount
          label.radio-inline
            input(type='radio', name='amountType', value='false', id='amountPercent', required)
            |  Percent
      .col-xs-12.col-sm-3
        .form-group
          label Amount
          input(type="number", name="amount", id="amount", value=values.amount || '', required).form-control

      // .col-xs-12.col-sm-3
        .form-group
          label Expires
          br
          label.radio-inline
            input(type='radio', name='expires', value='true', id='expiresYes', required)
            |  Yes
          label.radio-inline
            input(type='radio', name='expires', value='false', id='expiresNo', required)
            |  No
      // .col-xs-12.col-sm-3
        .form-group
          label Expires Date

    .row.m-t.m-b.text-right
      .col-xs-12
        input(id="formSubmit", type="submit", value="Add Partner Code").btn.btn-primary.btn-lg


  .row: .col-xs-12
    h1.text-center Partner Code List


  .row: .col-xs-12
    .hr-divider.m-b
      h3.hr-divider-content.hr-divider-heading Active Partner Codes

  .row: .col-xs-12
    .table-responsive
      table.table.table-striped
        tr
          th Code
          th Name
          th.text-right Amount
          th Created Date
          th.text-center Active
        tbody
          for code in partnerCodes
            if(code.get('active'))
              tr
                // TODO: make code link to new page
                td= code.get('code')
                td= code.get('name')
                td.text-right
                  if code.get('static')
                    != '$' + code.get('amount')
                  else
                    != Math.round((1 - code.get('amount')) * 100) + '%'
                td= libs.moment(code.get('createdAt')).format("MMMM Do YYYY")
                td.text-center: a(href= "partner/" + code.id + '/deactivate').btn.btn-danger Stop


  .row: .col-xs-12
    .hr-divider.m-b
      h3.hr-divider-content.hr-divider-heading Deactivated Partner Codes

  .row: .col-xs-12
    .table-responsive
      table.table.table-striped
        tr
          th Code
          th Name
          th.text-right Amount
          th Created Date
          th.text-center Active
        tbody
          for code in partnerCodes
            if(!code.get('active'))
              tr
                // TODO: make code link to new page
                td= code.get('code')
                td= code.get('name')
                td.text-right
                  if code.get('static')
                    != '$' + code.get('amount')
                  else
                    != Math.round((1 - code.get('amount')) * 100) + '%'
                td= libs.moment(code.get('createdAt')).format("MMMM Do YYYY")
                td.text-center: a(href= "partner/" + code.id + '/activate').btn.btn-success Start
