extends layout

block content
  .row: .col-xs-12
  .container
  #social-media-explosion.row
    .col-lg-6.title-back
      h4
        span
          a(href='javascript:history.go(-1);') 
            i.fa.fa-arrow-left(aria-hidden='true')
        | #{coursename} 
    .col-lg-6.csv-download.pull-right
    a(href='/dashboard/vouchersdetails/#{courseid}/downloadcsv',title='Download CSV')
      button.btn.btn-default(type='button',style="float: right;") Download CSV
  #total-codes-available.row
    .col-lg-2
      p Total Codes :   #{totalvoucher}
    .col-lg-2
      p Total Redeem :    #{voucherReedeemed}
    .col-lg-2
      p Total Available :   #{voucherAvailable}
  

  #table-custom2.row
        table.table.custom-table-striped
          thead
            tr
              th S.No
              th Voucher Code
              th Linked Course
              th Instructor Name
              th Created Date
              th Expiry Date
              th Created By
              th Status
              th Redeem by (name)
              th Email Id
              th Zip Code
              th Phone No
            
          tbody
          - var count = 0;
          for code in vouchers
           - count++;           
            tr
              td= count 
              td= code.get('VoucherCode')
              td= CourseTask[code.get('courseId')]
              td= CourseInstructor[code.get('courseId')]
              td= libs.moment(code.get('CreateDate')).format("DD-MM-YYYY")
              td= libs.moment(code.get('Expirydate')).format("DD-MM-YYYY")
              td= code.get('CreatedBy')
              if(code.get('Status')=='Redeem')              
                td.color_red=  code.get('Status') 
              else
                td.color_green= code.get('Status')
              if(code.get('Redeem_by'))
                   td= code.get('Redeem_by') 
                else 
                    td N.A
              if(code.get('EmailId'))  
                    td= code.get('EmailId')
                else
                    td N.A 
              if(code.get('ZipCode'))  
                    td= code.get('ZipCode')
                else
                    td N.A      
              if(code.get('PhoneNo'))  
                    td= code.get('PhoneNo')
                else
                    td N.A