extends layout

block content
  #checkout.page: .container
    .row
      .col-xs-12.col-sm-8
        if userLoggedIn
          form#checkout(action="/courses/enroll", method="post")
            h1 Checkout
            | <div class="payment_instrument_logos" style="margin-bottom:25px;">
            |   <img alt="American Express" class="" src="https://www.braintreegateway.com/images/payment_instrument_images/american_express.png" width="48">
            |   <img alt="Discover" class="" src="https://www.braintreegateway.com/images/payment_instrument_images/discover.png" width="48">
            |   <img alt="JCB" class="" src="https://www.braintreegateway.com/images/payment_instrument_images/jcb.png" width="48">
            |   <img alt="MasterCard" class="" src="https://www.braintreegateway.com/images/payment_instrument_images/mastercard.png" width="48">
            |   <img alt="Visa" class="" src="https://www.braintreegateway.com/images/payment_instrument_images/visa.png" width="48">
            | </div>
            #payment-form
            a(href="https://www.braintreegateway.com/merchants/kbfchfxycf42dsws/verified", target="_blank")
              img(src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-light.png", width="280px", height="44px", border="0")


            input(type="hidden", name="courseId", value=course.id)
            input(type="submit", value="Submit Payment").btn.btn-lg.btn-primary
            if partnerCode
              input(type="hidden", name="code", value=partnerCode.get('code'))
        else
          h3 You are almost ready to start your journey. IN ORDER TO PURCHASE this extraordinary Course you must FIRST CREATE AN ACCOUNT or login with your current account now.
          .row(style="margin-top:30px;")
            .col-xs-10.col-xs-offset-2.col-sm-5
              p: a.btn.btn-lg.btn-info.expand.sign-in(href='#') Log In
          .row(style="margin-top:20px;")
            .col-xs-10.col-xs-offset-2.col-sm-5
              p: a.btn.btn-lg.btn-primary.expand.sign-up(href='#') Create Free Account!


      .col-xs-12.col-sm-4
        .row
          .col-xs-12
            .panel.panel-default.panel-profile(style="margin-top:20px;")
              .panel-heading(style='height:180px; background-image:url(' + (course.get('cardImage') ? course.get('cardImage').url() : '/img/demo/background.png') + ');')
              .panel-body.text-center
                h3.panel-title= course.get('name')
                h2: include course/partials/price

        .alert.alert-danger#codeError(hidden=hideCodeError) Invalid Code For This Course
        .alert.alert-success#codePassed(hidden=(hideCodePassed)) !{codeMessage}

        .row
          .col-xs-12
            form#applyCode(action="checkout/apply?id=" + course.id, method="post")
              .row
                .col-xs-12.col-sm-6
                  .form-group
                    label Enter Code
                    input(type="text", name="code", id="code", value="" || '', required).form-control
              .row
                .col-xs-12.col-sm-6
                  input(id="formSubmit", type="submit", value="Apply Code").btn.btn-primary.btn-lg

  script.
    window.clientToken = '#{token}';
  
