doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name="google-site-verification", content="4HVEClk5cl8Vv1_NM7UWQiE2auKMkdBoAZE5X5TDl-Y")
    meta(name='viewport', content='initial-scale=1.0')
    |  
    meta(name='viewport', content='width=device-width')
    |   
    meta(name='viewport', content='width=590')
    |   
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    |  
    |   
    meta(name='viewport', content='target-densitydpi=device-dpi, width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=1')
    |   
    meta(name='apple-mobile-web-app-orientations', content='portrait-any')
    |   
    meta(name='apple-mobile-web-app-capable', content='yes')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    |   
    title You Will Change The World
    |   
    meta(content='', name='keywords')
    |   
    meta(content='', name='description')
    // Bootstrap CSS File
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    // Libraries CSS Files
    link(href='lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    
    // Main Stylesheet File
    //if lte IE 8
    |   
    link(rel='stylesheet', href='/css/toolkit.min.css')
    link(rel='stylesheet', href=asset('/css/main.css'))
    link(rel='stylesheet', href='/stylesheets/style.css')
    




    include partials/opengraph
    title= meta.title + ' - ' + meta.siteName
    //- block head
    link(rel='icon', type='image/png', href='/img/favicon.png')
    //- link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:400,300,100,400italic,300italic,100italic')
    //- link(rel='stylesheet', href='/css/toolkit.min.css')
    //- link(rel='stylesheet', href=asset('/css/main.css'))
    | <!--[if lt IE 9]>
    |   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    |   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    | <![endif]-->
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load('#{analytics.writeKey}');
      analytics.page();
      }}();
    //- <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124244775-1"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-124244775-1');

    script(async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1690428105714479",
        enable_page_level_ads: true
      });
    script( src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/webshim/1.16.0/dev/polyfiller.js')
    script(src=asset('dashboard/js/ajax.js'))
    script.
      webshim.activeLang('en');
      webshims.polyfill('forms');
      webshims.cfg.no$Switch = true;
    //- <!-- Google Tag Manager -->
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W25PWSK');
    //- <!-- End Google Tag Manager -->
    script(type="application/ld+json").
      { "@context": "http://schema.org",
      "@type": "Organization",
      "name": "You Will Change The World",
      "legalName" : "You Will Change The World Llc",
      "url": "https://youwillchangetheworld.com",
      "logo": "https://www.youwillchangetheworld.com/img/logo.png",
      "foundingDate": "2009",
      "founders": [
      {
      "@type": "Person",
      "name": "Peter Anthony Wynn"
      }],
      "address": {
      "@type": "PostalAddress",
      "streetAddress": "9265 W Russell Rd Suite 365",
      "addressLocality": " Las Vegas",
      "addressRegion": "NV",
      "postalCode": "89148",
      "addressCountry": "USA"
      },
      "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "253"
      },
      "contactPoint": {
      "@type": "ContactPoint",
      "contactType": "customer support",
      "telephone": "[+702-816-5797]",
      "email": "support@youwillchangetheworld.com"
      },
      "sameAs": [ 
      "https://www.facebook.com/ywchangetheworld",
      "https://twitter.com/youwillchangetw",
      "https://www.youtube.com/channel/UC87zHEilapwGuj907A_gHiw",
      "https://www.linkedin.com/company/you-will-change-the-world",
      "https://www.instagram.com/ywctw"
      ]}


  body.site
    header
      include partials/topnav
    #main
      block content
    .footer
      .container
        .footer-section.row
          .col-md-4.col-sm-4.col-xs-4
            ul
              li: a(href="/",style="text-decoration:none; color:black") Home
              |             
              li: a(href='/instructors',style="text-decoration:none; color:black")  Instructors
              |             
              li: a(href='/courses',style="text-decoration:none; color:black") Courses
              |             
              li: a(href='/books',style="text-decoration:none; color:black") Books
              |             
              li: a(href="/events",style="text-decoration:none; color:black") Events
              |             
              li: a(href="/articles",style="text-decoration:none; color:black") Articles/Blogs
          |         
          .col-md-4.col-sm-4.col-xs-4.footer-logo.d-flex.justify-content-center
            img.img-fluid(src='img/logo_black.png', alt='')
          |         
          .col-md-4.col-sm-4.col-xs-4
            ul.float-left
              li: a(href="/integrate#instructor",style="text-decoration:none; color:black") Pricing for Instructors
              |             
              li: a(href="/integrate#affiliate",style="text-decoration:none; color:black") Affiliate Opportunities
              |             
              li: a(href="/foundations",style="text-decoration:none; color:black") Foundation Opportunities
              |             
              li: a(href="/support",style="text-decoration:none; color:black") Contact Us
              |             
              li: a(href="/terms",style="text-decoration:none; color:black") Terms and Conditions
              |             
              li.sign-up Login
        |       
        p.d-flex.justify-content-center Copy Right @ 2020 All Rights Reserved.
    |   
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
    |   
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    |   
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    //- footer
      //- include partials/footer
    //- <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W25PWSK" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    //- <!-- End Google Tag Manager (noscript) -->
    script.
      window.meta = {
        currentUserId: '#{(currentUser ? currentUser.id : '')}',
        currentUserAuthId: '#{user ? user.user_id || '' : ''}',
        currentUserEmail: '#{user ? user.email || '' : ''}',
        currentUserName: '#{user ? user.name || '' : ''}',
      };
    script(src='https://cdn.auth0.com/js/lock/11.6.1/lock.min.js')
    script(src='https://js.braintreegateway.com/v2/braintree.js')
    script(src=asset('/js/main.js'))
    block scripts
    //- style.
    //-   body #a0-lock .a0-signup .a0-primary { background-color: #f04124 !important; }
    //-   body #a0-lock .a0-notloggedin .a0-primary { background-color: #337ab7 !important; }
