extends layout

block content
  .page: .container


  .row
    .col-lg-4.pl-0
      video( controls='controls' width='100%' height='205')        
        source(src=`data:video/mp4;base64,${encodedData}` type='video/mp4')
      //video(width='100%' height='205' controls='')
      //source(src='mov_bbb.mp4' type='video/mp4')
      //source(src='mov_bbb.ogg' type='video/ogg')
      | 				Your browser does not support HTML5 video.

    .col-lg-8
      .student-info
        .row
          .col-lg-6.mb-2
            span Student Name : 
            span.student-info-value #{firstname} #{lastname}
          .col-lg-6.mb-2
            span Classes Rated :

        .row
          .col-lg-6.mb-2
            span Total Registered courses : 
            span.student-info-value #{registeredCourse}
          .col-lg-6.mb-2
            span Messages :
            span.student-info-value 10
            span 
              a(href='/student/message')
                img.envelop(src='https://img.icons8.com/color/48/000000/secured-letter.png')

        .row
          .col-lg-6.mb-2
            span Total Completed courses : 
            span.student-info-value #{completedCourses}
          .col-lg-6.mb-2
            span Message Instructor :
            span.student-info-value 10
            span
              a(href='/student/messageinstructor')
                img.envelop(src='https://img.icons8.com/color/48/000000/secured-letter.png')


        .row
          .col-lg-6
            span Student Rating : 
            span.student-info-value 3
          .col-lg-6
            .shadow.btn.btn-lg(onclick="Email();") Update Email and Password

        .row
          .col-lg-6
            span Article Read : 
            span.student-info-value 3
          .col-lg-6
            .shadow.btn.btn-info.btn-lg(data-toggle='modal' data-target='#myModal' onclick="Model();") Add New Course by Voucher Code





  .row
    .col-xs-6.pl-0
      h1.welcome-title Welcome,
    .col-lg-6.social-icons       
      a(href='https://www.facebook.com' title='Facebook' target="_blank")
        img.facebook.social-icons-img(src='public/img/social-icons/facebook.png')    
      a(href='https://www.pinterest.com/' title='Pinterest' target="_blank")      
        img.pinterest.social-icons-img(src='public/img/social-icons/pinterest.png')
      a(href='https://www.twitter.com/' title='Twitter' target="_blank")   
        img.twitter.social-icons-img(src='public/img/social-icons/twitter.png')
      a(href='https://www.pinterest.com/' title='Pinterest' target="_blank")            
        img.linkedin.social-icons-img(src='public/img/social-icons/linkedin.png')
  .row
    .col-xs-12.pl-0
      p(style="font-size: 16px;") You Will Change the World is an empowering and impactful platform and we are excited that you have decided to take some of our incredible courses! Our instructors view the world through infinite perspectives that inspire compassion, invention, universal truth, purpose and prosperity. We know this will move you and excite you as your courses unfold and the lessons become clear. Our unique and innovative tools will help lead, educate and network you with others that can make a difference in your life. This support system encourages confidence, freedom and happiness in every moment. Within the process of mentorship and access to world-class resources, YWCTW weaves opportunities into the fabric of the lives of individuals, families and communities. YWCTW Ultimately produces a profound difference in societies.
      p(style="font-size: 16px;") Please like us on <a target="_blank" href="https://www.facebook.com/ywchangetheworld/">Facebook</a> & share us with your Social Media Community. If you really love some of the courses consider becoming an <a href="/affiliates">Affiliate</a> today and start building your community by sharing what you love and being financially rewarded for making a real difference in other people’s lives. 
      p(style="font-size: 16px;") Namaste, <br> Peter Anthony Wynn <br> Founder & CEO
  .row
    .col-xs-12.pl-0
      h1 My Courses
      h3 You will find all the courses you enrolled in on this page.
  .row
    if enrollments.length
      each enrollment in enrollments
        .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0.col-md-4(style="padding: 10px")
          .course-card: a(href='/courses/' + enrollment.get('course').get('slug') + '/enrolled')
            <span class="notify-badge">#{CourseStatus[enrollment.get('course').get('name')]}</span>
            figure.effect-julia
              if enrollment.get('course').get('cardImage')
                img(src=enrollment.get('course').get('cardImage').url(),style="height: 200px;").img-responsive
              else
                img(src='https://placeholdit.imgix.net/~text?txtsize=36&txt=500×200&w=500&h=200' style="height: 200px;").img-responsive
              figcaption
                h2(style='text-transform:capitalize;height: 65px;').fittext= enrollment.get('course').get('name')
                if enrollment.get('course').get('instructor')
                  p= enrollment.get('course').get('instructor').get('name')                    
                button.btn.btn-success
                  span Go To Course
    else
      h3
        | It looks like you haven't enrolled in any courses. 
        a(href='/courses') Click Here 
        | to view our catalog.

    .row
      .col-xs-12
        h1 Recommended Courses
        h3 You will find all the courses you enrolled in on this page.
    .row
    if recommendedcourse.length
      each recommend in recommendedcourse
        .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0.col-md-4(style="padding: 10px")
          .course-card: a(href='/courses/' + recommend.get('slug') + '/enrolled')
            figure.effect-julia
              if recommend.get('cardImage')
                img(src=recommend.get('cardImage').url(),style="height: 200px;").img-responsive
              else
                img(src='https://placeholdit.imgix.net/~text?txtsize=36&txt=500×200&w=500&h=200' style="height: 200px;").img-responsive
              figcaption
                h2(style='text-transform:capitalize;height: 65px;').fittext= recommend.get('name')
                if recommend.get('instructor')
                  p= recommend.get('instructor').get('name')                   
                button.btn.btn-success
                  span Go To Course

    //- #myModal.modal.fade
    //-   .modal-dialog
    //-     .modal-content

    //-     .modal-header
    //-       h4.modal-title Modal Heading
    //-       button.close(type='button' data-dismiss='modal') ×

    //-     .modal-body
    //-       | Modal body..

    //-     .modal-footer
    //-       button.btn.btn-danger(type='button' data-dismiss='modal') Close

    #myModal.modal.fade.voucher-card-popUp(tabindex='-1' role='dialog' aria-labelledby='modalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4#modalLabel.modal-title Add a course by a voucher code
          .modal-body
            form(action='')
            .form-group.row
              label.control-label.col-lg-3.col-md-4(for='email') Enter Voucher Code:
              .col-lg-7.col-md-5.pl-0
                input#vouchercode.form-control.voucherInput(type='text' name='vouchercode' width='50') 
                input#courseid(type='hidden' name='courseid')
                input#user_id(type='hidden' name='userid')
              .col-lg-2.col-md-3.txt-center
                button.btn.btn-apply(type='submit' onclick="Voucherinfo()") Apply


          .modal-footer
            h4#coursetitle.modal-title 
            div#loader(style="text-align:center;")  
              img(src='/public/img/ajax-loader.gif' style="width:64px;")
            .row.btns
              button.btn.btn-default.add-course-btn(type='submit' onclick="AddToCourse()") Add to My Courses
              button.btn.btn-cancel(type='button' data-dismiss='modal') Cancel
